<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} Admin{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       	    
        {% block stylesheets %}       
        <link rel="stylesheet" href="{{ asset('js/jquery-ui/jquery-ui.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('js/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('js/bootstrap/css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('js/bootstrap-dialog/css/bootstrap-dialog.min.css') }}" /> 
        <link rel="stylesheet" href="{{ asset('js/bootstrap_datepicker/css/bootstrap-datepicker3.min.css') }}" />        
        <link rel="stylesheet" href="{{ asset('js/bootstrap/css/ie10-viewport-bug-workaround.css') }}" />
        <link rel="stylesheet" href="{{ asset('js/fancybox/source/jquery.fancybox.css?v=2.1.5') }}" />
        <link rel="stylesheet" href="{{ asset('js/font-awesome-4.6.3/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('js/font-awesome-4.6.3/css/font-awesome-animation.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/global.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}" />
        {% endblock %}
        
        <style>
        .navbar {position:fixed;width:100%;}
        .navbar-inverse {border-radius: 0px; }
        .container-page {padding-top: 60px;}
        </style>
    </head>
    <body>
    

   
    
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('mdv_core_homepage') }}"> Admin</a>
          <a class="navbar-brand" href="{{ path('mdv_core_client') }}"> Client</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
          <div class="navbar-form navbar-right">            
            <div class="navbar-login-block">
        {#
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        		<span class="navbar-username">{{ app.user.showFullName }}</span>
                <a class="btn btn-default" href="{{ path('fos_user_profile_edit') }}" title="Paramètres de mon compte"><span class="fa fa-cog" aria-hidden="true" ></span></a>
                <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}" title="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}">
                    <span class="fa fa-times" aria-hidden="true" ></span>
                </a>
            {% else %}
                <a class="btn btn-primary btn-success" href="" role="button" ><span class="fa fa-user" aria-hidden="true"></span> Se connecter</a>
            {% endif %}
            
            {% if is_granted('ROLE_ADMIN') %} 
            	<a class="btn btn-info" href="{{ path('net15_actes_administration') }}" role="button" title="Administration"><span class="fa fa-home" aria-hidden="true" ></span></a>
            {% endif %}
        #}
           </div>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    
      
    <div class="container container-page">
    {% block body %}{% endblock %}
       <footer>
      
       </footer>
     </div> <!-- /container -->  
    
	{% block javascripts %}
		<script src="{{ asset('js/jquery-2.2.0.min.js') }}"></script>
		<script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap-confirmation/bootstrap-confirmation.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap-dialog/js/bootstrap-dialog.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap_datepicker/js/bootstrap-datepicker.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap_datepicker/locales/bootstrap-datepicker.fr.min.js') }}" charset="UTF-8"></script>
		<script src="{{ asset('js/bootstrap/js/ie10-viewport-bug-workaround.js') }}"></script>
		<script src="{{ asset('js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
		<script src="{{ asset('js/fancybox/source/jquery.fancybox.pack.js') }}"></script>
		<script src="{{ asset('js/jquery.mask.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
